  {% load static %}
  {% load i18n %}
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li 
            {% if '/' == request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li 
            {% if 'espiritismo' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'espiritismo' %}">{% trans "Espiritismo" %}</a>
          </li>
          <li 
            {% if 'eventos' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'eventos' %}">{% trans "Eventos" %}</a>
          </li>
          <!-- <li 
            {% if 'downloads' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'downloads' %}">{% trans "Downloads" %}</a>
          </li> -->
          <li 
          {% if 'atividades' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
          >
            <a class="nav-link" href="{% url 'atividades' %}">{% trans "Atividades" %} </a>
          </li>
          <li 
            {% if 'assistencial' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'assistencial' %}">{% trans "Trabalho Social" %}</a>
          </li>
          <li 
            {% if 'sobre' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'sobre' %}">{% trans "Quem Somos" %}</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li 
              {% if 'painel_usuario' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
            >
            <a class="nav-link" href="{% url 'painel_usuario' %}">
              <i class="fas fa-user-plus"></i> {% trans "Olá" %}, {{ user.username }}</a>
          </li>
          <li class="nav-item mr-3">
            <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link"><i class="fas fa-sign-out-alt"> </i>{% trans "Sair" %}</a>
            <form action="{% url 'logout' %}" method="POST" id="logout">
              {% csrf_token %}
              <input type="hidden">
            </form>
          </li>
          {% else %}
            <li 
            {% if 'registrar' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
              <a class="nav-link" href="{% url 'registrar' %}">
                <i class="fas fa-user-plus"></i> {% trans "Registrar" %}</a>
            </li>
            <li 
            {% if 'login' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
              <a class="nav-link" href="{% url 'login' %}">
                <i class="fas fa-sign-in-alt"></i> Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>