      <!-- Top Bar -->
      <section id="top-bar" class="p-3">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <i class="fas fa-phone"></i> (206)-905-7787
            </div>
            <div class="col-md-4">
              <i class="fas fa-envelope-open"></i> contact@soskardec.com
            </div>
            <div class="col-md-4">
              <div class="social text-right">
                <a href="https://twitter.com/soskardec/" target="_blank" >
                  <i class="fab fa-twitter fa-1x m-1"></i>
                </a>
                <a href="https://www.facebook.com/soskardec/" target="_blank" >
                  <!-- <i class="fab fa-facebook"></i> -->
                  <i class="fab fa-facebook fa-1x m-1"></i>
                </a>
                <a href="https://www.instagram.com/soskardec/" target="_blank" >
                  <i class="fab fa-instagram fa-1x m-1"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>