{% load static %}
{% load i18n %}

<!-- Flags -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.3.1/css/flag-icon.min.css" rel="stylesheet"/>

<!-- Button trigger modal -->
<!-- <h3 class="text-center bg-danger p-2 rounded">
  <button id="covid-update" type="button" class="btn btn-secondary bg-danger border border-0" data-toggle="modal" data-target="#exampleModal">
    <strong>{% trans "INFORMATIVO COVID-19 À COMUNIDADE" %}</strong>
  </button>
</h3> -->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Covid-19 Update</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> {% trans "Presados Membros do Spiritist Organization of Seattle" %}.</p>
        {% blocktrans %}Seguindo as recomendações do governo e das autoridades de saúde, a Spiritist Organization of Seattle decidiu encerrar nossas reuniões públicas de Domingo, na esperança de retardar a propagação do coronavírus. À medida que passamos juntos por esses tempos tumultuados juntos, continuemos nosso compromisso com o crescimento espiritual de uma nova maneira. Nossas reuniões de serviço ocorrerão online, até novo aviso. Você é calorosamente convidado a participar de nossos cultos de Domingo{% endblocktrans %}!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary bg-danger border border-0" data-dismiss="modal">{% trans "Close" %}</button>
      </div>
    </div>
  </div>
</div> -->

<!-- Top Bar -->
<section id="top-bar" class="p-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="fas fa-phone"></i> (206)-905-7787
      </div>
      <div class="col-md-4">
        <i class="fas fa-envelope-open"></i> contact@soskardec.org
      </div>
      <div class="col-md-2">
        <div class="social text-left">
          <a href="https://www.facebook.com/soskardec/" target="_blank">
            <i class="fab fa-facebook fa-1x m-1"></i>
          </a>
          <a href="https://www.instagram.com/s.o.s.kardec/" target="_blank">
            <i class="fab fa-instagram fa-1x m-1"></i>
          </a>
          <a href="" data-toggle="modal" data-target="#inquiryModal">
            <i class="fas fa-comment fa-1x mr-1"></i>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="social text-right">
          <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
                <button title="{{ language.name_local | title }}" name="language" type="submit"  
                  {% if language.code == 'pt' %}
                    class="flag-icon flag-icon-br" value="{{ language.code }}"></button>
                  {% else %}
                    class="flag-icon flag-icon-us" value="{{ language.code }}"></button>
                  {% endif %}
              {% endfor %}
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

  <!-- Message Form -->
  <div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel"> {% trans "Messagem" %} </h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'contact' %}" method="POST">
            {% csrf_token %}
            {% if user.is_authenticated %}
              <input type="hidden" name="user_id" value="{{ user.id }}">
            {% else %}
              <input type="hidden" name="user_id" value="0">
            {% endif %}
            <div class="form-group">
              <label for="name" class="col-form-label"> {% trans "Nome" %}:</label>
              <input type="text" name="name" class="form-control" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %} required>
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label"> {% trans "Email" %}:</label>
              <input type="email" name="email" class="form-control"  {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} required>
            </div>
            <div class="form-group">
              <label for="phone" class="col-form-label"> {% trans "Telefone" %}:</label>
              <input type="text" name="phone" class="form-control">
            </div>
            <div class="form-group">
              <label for="message" class="col-form-label"> {% trans "Mensagem" %}:</label>
              <textarea name="message" class="form-control"></textarea>
            </div>
            <hr>
            <input type="submit" value="{% trans "Enviar" %}" class="btn btn-primary btn-block">
          </form>
        </div>
      </div>
    </div>
  </div>