{% load static %}
{% load i18n %}

<!-- Button trigger modal -->
<h3 class="text-center bg-secondary p-2 rounded">
  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
  {% trans "INFORMATIVO SOBRE COVID-19 À COMUNIDADE" %}
  </button>
</h3>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Covid-19 Update</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> {% trans "Presados Membros do Spiritist Organization of Seattle" %}.</p>
        {% blocktrans %}Seguindo as recomendações do governo e das autoridades de saúde, a Spiritist Organization of Seattle decidiu encerrar nossas reuniões públicas de Domingo, na esperança de retardar a propagação do coronavírus. À medida que passamos juntos por esses tempos tumultuados juntos, continuemos nosso compromisso com o crescimento espiritual de uma nova maneira. Nossas reuniões de serviço ocorrerão online, até novo aviso. Você é calorosamente convidado a participar de nossos cultos de Domingo{% endblocktrans %}!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
      </div>
    </div>
  </div>
</div>

<!-- Top Bar -->
<section id="top-bar" class="p-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="fas fa-phone"></i> (206)-905-7787
      </div>
      <div class="col-md-4">
        <i class="fas fa-envelope-open"></i> contact@soskardec.com
      </div>
      <div class="col-md-2">
        <div class="social text-left">
          <a href="https://twitter.com/soskardec/" target="_blank" >
            <i class="fab fa-twitter fa-1x m-1"></i>
          </a>
          <a href="https://www.facebook.com/soskardec/" target="_blank" >
            <!-- <i class="fab fa-facebook"></i> -->
            <i class="fab fa-facebook fa-1x m-1"></i>
          </a>
          <a href="https://www.instagram.com/soskardec/" target="_blank" >
            <i class="fab fa-instagram fa-1x m-1"></i>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="social text-right">
          <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
              <button title="{{ language.name_local | title }}" name="language" type="submit" class="btn btn-primary btn-sm btn-group btn-group-toggle" 
                  {% if language.code == LANGUAGE_CODE %}
                    style="background-color: #a39d9df6 onclick=active"
                  {% else %} 
                    style="background-color: #d3edda onclick=active" 
                  {% endif %}
                    value="{{ language.code }}">{{ language.code | upper}}</button>
              {% endfor %}
          </form>
        </div>
      </div>
    </div>
  </div>
</section>