{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% block title %} | Atividades {% endblock %}
{% block content %}
  <section id="showcase-inner" class="py-4 text-primary">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <img src="{% static 'img/sos_logo.png' %}" class="main-logo">
          <h1 class="display-4"> {% trans "Trabalhos Assistenciais" %} </h1>
          <p class="lead">"{% trans "Fora da caridade, não há salvação" %}." <br> Allan Kardec</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> {% trans "Atividades" %} </li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="flex-container">
            <!-- Message button -->
            <a href="{% url 'assistencia' %}"><h2> {% trans "Assistência Social" %} </h2></a>
            <p class="mt-4">{% blocktrans %}As atividades de Assistência Social desenvolvidas pelo S.O.S Kardec visam alcançar irmãos que precisam de auxílio material. Para realização deste trabalhado fazemos campanhas de arrecadação de donativos entre os frequentadores da nossa Casa e pessoas da comunidade. Os trabalhadores envolvidos levam os mantimentos até às famílias assistidas, sempre respeitando a privacidade de cada um dos envolvidos{% endblocktrans %}.
            <br><br>
            {% blocktrans %}Recebemos as doações todos os Domingos no Centro Espírita, organizamos e fazemos a entrega aos moradores. Pedimos que os alimentos doadoes não sejam perecíveis e que estejam em embalagens originais e seladas{% endblocktrans %}.
            <p>{% blocktrans %}Também podemos buscar as doações na regiões do King County and Snohomish County caso o doador não frequente o nosso centro espírita{% endblocktrans %}.</p>
            </p>
            <br>
            <p><h4><a href="{% url 'assistencia' %}"><i class="fas fa-1.5x fa-hand-point-right"></i> {% blocktrans %}Veja a lista dos produtos que mais necessitamos{% endblocktrans %}!</h4></a></p>
            <br>
            <h2 class="mt-4"><a href="https://www.marysplaceseattle.org" target="_blank">Mary's Place</a></h2>
            <p class="mt-4">{% blocktrans %}Trabalhamos também com abrigos, levando doações de alimentos e produtos de higiene pessoal, roupas, sapatos para as famílias abrigadas{% endblocktrans %}. 
            <br><br>
            {% blocktrans %}Mary's Place oferece várias oportunidades para voluntariado. Você também pode doar seu tempo em uma destas áreas: Lidere uma aula, ensine um aluno, ajude com pedidos de moradia ou emprego, ensine um ofício, ajude no escritório, doe serviços profissionais, etc. Você pode trazer esperança e amor para mulheres, crianças e famílias{% endblocktrans %}.
            </p>
            <p><a href="https://www.marysplaceseattle.org/get-involved" target="_blank">{% trans "Saiba Mais" %}...</a></p>
            
            <h2 class="mt-4"><a href="https://sophiaway.org/" target="_blank">The Sophia Way</a></h2>
            <p class="mt-4">{% blocktrans %}Com o abrigo Sophia Way é permitida a doação de refeições feitas em casa ou de restaurantes. São servidos almoço e janta para uma variada quantia de pessoas todos os dias{% endblocktrans %}.</p>
            <p><a href="https://sophiaway.org/donate-meals/" target="_blank">{% trans "Saiba Mais" %}...</a></p>
            {% blocktrans %}O abrigo também aceita doação de mantimentos e produtos de higiene pessoal e limpeza, veja a lista abaixo{% endblocktrans %}:
            <ul>
              <li>{% trans "Máscaras" %}</li>
              <li>{% trans "Luvas (todos os tamanhos)" %}</li>
              <li>{% trans "Desifetantes para as mãos" %}</li>
              <li>{% trans "Lenços de Limpeza (Lysol / Clorox)" %}</li>
              <li>{% trans "Toalhas de papel" %}</li>
              <li>{% trans "Produtos de cabelo étnico" %}</li>
              <li>{% trans "Shampoo e Condicionador (tamanho viagem)" %}</li>
              <li>{% trans "Sabão Líquido de corpo (viagem ou tamanho completo)" %}</li>
              <li>{% trans "Copos de água de plástico" %}</li>
              <li>{% trans "Lanches embalados individualmente (batatas fritas, bolachas, biscoitos, etc.)" %}</li>
            </ul>
          </p>
          
          <p><a href="https://sophiaway.org/shelter-needs/" target="_blank">{% trans "Saiba Mais" %}...</a></p>
        </div>

        <h2 class="mt-4"><a href="https://bethematch.org/" target="_blank">Be the Match</a></h2>
        <p class="mt-4">{% blocktrans %}Para as milhares de pessoas diagnosticadas todos os anos com câncer de sangue com risco de vida, como leucemia e linfoma, existe uma cura. Nos últimos 30 anos, o Be The Match ®, operado pelo National Marrow Donor Program ® (NMDP), gerencia o maior e mais diversificado registro de medula óssea do mundo. Trabalham todos os dias para salvar vidas através de transplantes{% endblocktrans %}.
        </p>
        <p><a href="https://bethematch.org/about-us/" target="_blank">{% trans "Saiba Mais" %}...</a></p>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="{% url 'assistencia' %}">
            <img class="card-img-top" src="{% static 'img/hands_heart_love_img_1.jpg' %}" alt="Fraternidate" height="300px">
            <div class="card-body">
              <h5 class="card-title"> {% trans "Maneiras de ajudar" %}! </h5></a>
              <p class="card-text">{% blocktrans %}A sua ajuda é bem vinda, seja ela em forma de doação, trabalho voluntário ou simplesmente uma conversa{% endblocktrans %}.
              </p>
            </div>
          </div>
          <br><br>
          <div class="card">
            <a href="https://www.marysplaceseattle.org/" target="_blank">
              <img class="card-img-top" src="{% static 'img/marys_family_img_1.jpg' %}" alt="Fraternidate" height="300px">
              <div class="card-body">
                <h5 class="card-title"> {% trans "Missão do Mary's Place" %}! </h5></a>
                <p class="card-text">{% blocktrans %}O Mary's Place oferece abrigo e serviços seguros e inclusivos que apoiam mulheres, crianças e famílias em sua jornada para sair dos sem-teto{% endblocktrans %}.
                </p>
              </div>
          </div>
          <br><br>
          <div class="card">
            <a href="https://sophiaway.org/" target="_blank">
              <img class="card-img-top" src="{% static 'img/shopiaway_img_2.jpg' %}">
              <div class="card-body">
                <h5 class="card-title"> {% trans "Missão do Sophia Way" %}! </h5></a>
                <p class="card-text">{% blocktrans %}Acabar com a falta de moradia para as mulheres, oferecendo abrigo, serviços sociais e moradia permanente com apoio{% endblocktrans %}.
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Message Form -->
<div class="modal fade" id="inquiryModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inquiryModalLabel"> {% trans "Messagem" %} </h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'contact' %}" method="POST">
          {% csrf_token %}
          {% if user.is_authenticated %}
            <input type="hidden" name="user_id" value="{{ user.id }}">
          {% else %}
            <input type="hidden" name="user_id" value="0">
          {% endif %}
          <div class="form-group">
            <label for="name" class="col-form-label"> {% trans "Nome" %}:</label>
            <input type="text" name="name" class="form-control" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %} required>
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label"> {% trans "Email" %}:</label>
            <input type="email" name="email" class="form-control"  {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} required>
          </div>
          <div class="form-group">
            <label for="phone" class="col-form-label"> {% trans "Telefone" %}:</label>
            <input type="text" name="phone" class="form-control">
          </div>
          <div class="form-group">
            <label for="message" class="col-form-label"> {% trans "Mensagem" %}:</label>
            <textarea name="message" class="form-control"></textarea>
          </div>
          <hr>
          <input type="submit" value="{% trans "Enviar" %}" class="btn btn-primary btn-block">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}