{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% block title %} | Atividades {% endblock %}
{% block content %}
  <section id="showcase-inner" class="py-4 text-primary">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <img src="{% static 'img/sos_logo.png' %}" class="main-logo">
          <h1 class="display-4"> {% trans "Atividades da Casa" %} </h1>
          <p class="lead">{% blocktrans %}"Notemos igualmente que é nos centros espíritas verdadeiramente sérios que se fazem os mais sinceros adeptos, porque os assistentes são tocados pela boa impressão que recebem." Allan Kardec{% endblocktrans %}</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> {% trans "Atividades" %} </li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="flex-container">
            <!-- Message button -->
            <a href="" data-toggle="modal" data-target="#inquiryModal"><h2> {% trans "Atendimento Fraterno" %} </h2></a>
            <p class="mt-4">{% blocktrans %}Oferecemos apoio àqueles que buscam na Doutrina Espírita o abrigo para as suas aflições. É uma relação de ajuda que consiste num encontro fraternal entre aquele que tem carências a serem supridas e o tarefeiro atendente, capacitado para ouvi-lo e orientá-lo quanto aos recursos que a Doutrina Espírita coloca ao seu alcance{% endblocktrans %}.
            <br><br>{% blocktrans %} Geralmente a pessoa que vai até o Centro Espírita busca palavras de conforto e um direcionamento. Com base na Doutrina Espírita, as conversas fazem você mesmo refletir sobre as questões que te afligem{% endblocktrans %}.
            <br>
            <p><a href="" data-toggle="modal" data-target="#inquiryModal">{% trans "Entre em Contato" %}...</a></p>
            </p><br>
            <h2> {% trans "Palestras Públicas" %} </h2>
            <p class="mt-4">{% blocktrans %}Não há um perfil ideal. Em princípio, qualquer pessoa pode assumir a tarefa de expositor. No entanto, o que o distingue para tal função é a sua identificação com os propósitos espíritas, sua vontade de estudar e de compreender a doutrina e facilidade em transmitir os seus conhecimentos com didática, sinceridade, entusiasmo e, acima de tudo, muita humildade. Certamente é interessante constatar que a nobre tarefa de levar ao público a mensagem cristã, juntamente com os ensinamentos espíritas, exige do palestrante preparo, aptidão, abnegação e esforço para ser portador de bons exemplos daquilo que se propõe dissertar{% endblocktrans %}
            <br><br>
            </p>
  
            <h2> {% trans "Estudo Doutrinário" %} </h2>
            <p class="mt-4">{% blocktrans %}O Estudo Sistematizado da Doutrina Espírita (ESDE) surgiu como ferramenta didática de estudo do Espiritismo, oferecendo oportunidade de ampliação do conhecimento da base fundamental da Doutrina nos aspectos científico, filosófico e religioso{% endblocktrans %}.
            </p><br>
            <p>{% trans "ESDE Português: Quintas-Feiras das 8pm - 9:30pm (Online)" %}<br>
            {% trans "ESDE Inglês: Quartas-Feiras das 8:30pm - 9:30pm (Online)" %}</p>

            <br><br>
  
            <h2><a href="{% url 'evangelizacao'%}"> {% trans "Evangelização Infantil e Jovens" %}</a> </h2>
            <p class="mt-4">{% blocktrans %}A denominação de Evangelização Espírita Infanto-Juvenil, se dá à transmissão do conhecimento espírita e da moral evangélica pregada por Jesus. Como a preocupação não é somente com a transmissão de conhecimentos mas, sobretudo, com a formação moral, e como a formação moral se inspira no Evangelho, parece-nos muito apropriada à denominação de "evangelização espírita" dada a essa tarefa, por expressar, na sua abrangência, exatamente o que se realiza em nossos agrupamentos de crianças e jovens{% endblocktrans %}.
              <br><br>
            </p>
  
            <h2> {% trans "Passes" %} </h2>
            <p class="mt-4">{% blocktrans %}O Passe foi incluído nas práticas doutrinárias do Espiritismo, como auxiliar nos recursos terapêuticos. Podemos defini-lo como{% endblocktrans %}:
            </p>
            <ul>
              <li>{% trans "Transferência de fluidos de perespírito para perespírito" %}.</li>
              <li>{% trans "Tranfusão fisiopsíquica, operação de boa vontade" %}.</li>
              <li>{% trans "Não é unicamente transfusão de energia anímica, é o equilíbrio ideal da mente" %}.</li>
              <li>{% trans "O Passe é doação fluídica de amor" %}.</li>
              <li>{% trans "Água fluidificada" %}.</li>
            </ul>
            <br>
            <h2> {% trans "Clube do Livro Espírita" %} </h2>
            <p class="mt-4">{% blocktrans %}Um clube do livro, também conhecido como clube de leitura, é um clube social onde pessoas normalmente se encontram para discutir sobre um livro (ou capítulos individuais) que acabaram de ler, expressando suas opiniões, críticas, etc. O objetivo é promover o conhecimento através de uma discussão saudável e edificante do livro em questão{% endblocktrans %}.
              <br><br>
            </p>

            <h2> {% trans "Culto no Lar" %} </h2>
            <p class="mt-4"> {% blocktrans %}Orientações de como implantar o Culto no Lar, que é um encontro semanal, sendo previamente marcado o dia e a hora, (devendo ser repetido sempre no mesmo dia e hora da semana) com o objetivo de reunir a família em torno dos ensinamentos evangélicos, à luz do Espiritismo, e sob a assistência dos Benfeitores Espirituais{% endblocktrans %}.
              <br><br>
            </p>
  
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="{% url 'sobre'%}">
            <a href="" data-toggle="modal" data-target="#inquiryModal">
            <img class="card-img-top" src="{% static 'img/atendimento_fraterno_img_1.jpg' %}" alt="Fraternidade">
            <div class="card-body">
              <h5 class="card-title"> {% trans "Estamos aqui para ajudar!" %} </h5></a>
              <p class="card-text">{% blocktrans %}O atendimento fraterno no Centro Espírita é uma oportunidade de falarmos sem julgamentos ou medos{% endblocktrans %}.
              </p>
            </div>
          </div>
          <br><br>
          <div class="card">
            <a href="{% url 'evangelizacao' %}">
              <img class="card-img-top" src="{% static 'img/evang_img_1.jpeg' %}" alt="Fraternidate">
              <div class="card-body">
                <h5 class="card-title"> {% trans "Crianças e Jovens" %}! </h5></a>
                <p class="card-text">{% blocktrans %}Nosso trabalho visa a formação de futuros homens e mulheres de bem, utilizando os ensinamentos espiritas{% endblocktrans %}.
                </p>
              </div>
          </div>
          <br><br>
          <div class="card">
              <img class="card-img-top" src="{% static 'img/book_club_img_1.jpg' %}" alt="BookClub">
              <div class="card-body">
                <h5 class="card-title"> {% trans "Clube do Livro Espírita" %}! </h5>
                <a href="https://chat.whatsapp.com/I1Zm1KH0xeRIKQOq9L2bB0" target="_blank">
                  <p class="card-text">{% blocktrans %}O nosso Clube do Livro é realizado no primeiro e último Domingo do mês, para saber mais use o nosso grupo do WhatsApp{% endblocktrans %}.</a>
                </p>
              </div>
          </div>
          <br><br>
          <div class="card">
            <img class="card-img-top" src="{% static 'img/culto_no_lar_img_1.jpg' %}" alt="Fraternidate">
            <div class="card-body">
              <h5 class="card-title"> {% trans "Culto no Lar" %}! </h5>
              <p class="card-text">{% blocktrans %}O Culto no Lar é uma importante prática espírita que visa harmonizar o lar através do estudo do evangelho{% endblocktrans %}.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Message Form -->
    <div class="modal fade" id="inquiryModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="inquiryModalLabel"> {% trans "Messagem" %} </h5>
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="{% url 'contact' %}" method="POST">
              {% csrf_token %}
              {% if user.is_authenticated %}
                <input type="hidden" name="user_id" value="{{ user.id }}">
              {% else %}
                <input type="hidden" name="user_id" value="0">
              {% endif %}
              <div class="form-group">
                <label for="name" class="col-form-label"> {% trans "Nome" %}:</label>
                <input type="text" name="name" class="form-control" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %} required>
              </div>
              <div class="form-group">
                <label for="email" class="col-form-label"> {% trans "Email" %}:</label>
                <input type="email" name="email" class="form-control"  {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} required>
              </div>
              <div class="form-group">
                <label for="phone" class="col-form-label"> {% trans "Telefone" %}:</label>
                <input type="text" name="phone" class="form-control">
              </div>
              <div class="form-group">
                <label for="message" class="col-form-label"> {% trans "Mensagem" %}:</label>
                <textarea name="message" class="form-control"></textarea>
              </div>
              <hr>
              <input type="submit" value="{% trans "Enviar" %}" class="btn btn-primary btn-block">
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}