{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% block title %}
  {% trans "| Bem Vindo" %}
{% endblock %}
{% block content %}

  <!-- Keywords -->
  <meta name="keywords" content="spiritis, spiritist center, spiritism, kardec, kardecista, centro espíria, espirita, allan kardec, seattle, centro espírita kardecista, Seattle, Kirkland, Bothell, Bellevue, Renton, Kenmore, Kent, Snohomish, King County">

<!-- Favicon Icon -->
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">

<!-- Showcase -->
<section id="showcase-inner" class="py-4 text-primary">
  <div class="row text-center">
    <div class="container">
      <div class="col-md-12">
          <img src="{% static 'img/sos_logo.png' %}" class="main-logo">
          <h1 class="display-4">Spiritist Organization of Seattle</h1>
          <!-- <p class="lead">Nascer, morrer, renascer ainda e progredir sempre, tal é a lei.</p> -->
          <p class="lead">"{% trans "Nascer, morrer, renascer ainda e progredir sempre, tal é a lei." %}" Allan Kardec</p>
        </div>
    </div>
    </div>
  </div>
</section>

<!-- Alerts -->
<br><br>
{% include 'partials/_alerts.html' %}

  <!-- Team -->
  <section id="guias" class="py-5">
    <div class="container">
      <!-- <h1 class="text-center">Nossos Guias</h1><br> -->
      <div class="row text-center">
        <div class="col-md-4">
          <img src="{% static 'img/jesus_img_1.jpg'  %}" alt="" class="rounded-circle mb-3" height="225" width="225">
          <h4>{% trans "Jesus Cristo" %} </h4>
        </div>
        <div class="col-md-4">
          <img src="{% static 'img/kardec_img_1.jpg'  %}" alt="" class="rounded-circle mb-3">
          <h4>Allan Kardec</h4>
        </div>
        <div class="col-md-4">
          <img src="{% static 'img/codificacao_img_1.jpg'  %}" alt="" class="rounded-circle mb-3 border" height="225" width="225">
          <h4> {% trans "Obras Básicas" %} </h4>
        </div>
      </div>
    </div>
  </section>

  <section id="message-home" class="bg-light text-dark text-center">
    <div class="container">
      <h2 class="display-4">{% trans "Nossa Missão" %} </h2>
      <p class="lead text-justify"> {% blocktrans %}Nossa missão é disseminar, entre toda a humanidade, a necessidade de uma transformação interior sob a orientação da Doutrina Espírita em todas as suas três vertentes: a religiosa, a científica e a filosófica; como caminho para a conquista do Progresso Espiritual, Paz e Felicidade. O constante estudo e prática da Doutrina Espírita, conforme compilada por Allan Kardec, é possível com o desenvolvimento de grupos semanais de estudos espíritas, cursos e seminários, visando a divulgação do Espiritismo e educando as novas gerações utilizando os métodos revelados pelos Ensinamentos Cristãos Espirituais{% endblocktrans %}</p>
      <!-- <h2 class="display-4">{% trans "Mensagem Espírita" %} </h2>
      <p class="lead text-justify"> {% blocktrans %}"Irmão, faze: de cada ensinamento que recebes, uma instrução do Plano Superior; de cada tarefa, por mínima que seja, uma realização em que deixes os melhores sinais de tua presença; de cada conversão, um entendimento construtivo; de cada conversação, um mensageiro de tua cooperação, no levantamento da felicidade geral; de cada relação nova, uma sementeira de bênçãos; de cada necessitado, um irmão que te espera o auxílio, em nome da Divina Paternidade; de cada desapontamento, um teste de compreensão; de cada experiência, um ensejo de aprender; de cada hora, uma oportunidade de servir...
        Companheiro da Terra, és o viajor em trânsito na hospedaria do mundo!... Guarda o coração e a consciência, na prática do bem, de tal modo, que possas receber, com o despertar de cada manhã, um novo renascimento na casa física e, no descanso de cada noite, um ensaio de regresso tranquilo ao teu lar verdadeiro, na Vida Espiritual."{% endblocktrans %}</p>
        <p class="lead text-right">{% trans "Autor" %}: Albino Teixeira<br> {% trans "Psicografado por" %} Chico Xavier</p> -->
      </div>
  </section>

<!-- Programação -->
<section id="listings" class="py-5">
  <div class="container">
    <h3 class="text-center bg-primary text-white p-2 mb-5 rounded">{% trans "Programação do Mês" %}</h3>
      <div class="row">
      <!-- If there are any eventos in the DB -->
      {% if programas %}
        {% for program in programas %}
          <!-- Evento 1 -->
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="card listing-preview">
              <img class="" src="{{ program.photo_main.url }}" alt="{{ program.description }}">
                <div class="card-body py-2">
                  <div class="col-12 text-center text-uppercase bg-info text-white rounded">
                    <p class="p-2">{% trans "Idioma" %}: {{ program.language }}</p>
                  </div>
                  <hr>
                  <div class="row py-2 text-dark">
                    <div class="col-12">
                      <i class="fas fa-book-reader "></i> {% trans "Tópico" %}: {{ program.title }}</div>
                  </div>
                  <div class="row py-2 text-dark">
                    <div class="col-12">
                      <i class="fas fa-th-large"></i> {% trans "Tipo" %}: {{ program.program_type }}</div>
                  </div>
                  <div class="row py-2 text-dark">
                    <div class="col-12">
                      <i class="fas fa-language"></i> {% trans "Idioma" %}: {{ program.language }}</div>
                  </div>
                  <div class="row text-dark pb-2">
                    <div class="col-12">
                      <i class="fas fa-clock"></i> {{ program.program_date }} </div>
                  </div>
                </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
      <!-- If there are no eventos in the DB -->
        <div class="col-md-12">
          <p><h3>{% trans "Nenhuma programacao encontrada no banco de dados" %}.</h3></p>
        </div>
      {% endif %}
  </div>
</section>

<!-- Evangelização -->
<section id="listings" class="py-2">
  <div class="container">
    <h3 class="text-center bg-primary text-white p-2 mb-2 rounded">{% trans "Evangelização Infantil e Jovens" %}</h3>
    <div class="row py-4">
      <!-- If there are any eventos in the DB -->
      {% if evangelizacao %}
        {% for evang in evangelizacao %}
          <!-- Aulas Envagelização -->
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="card listing-preview">
                <div class="card-body">
                  <div class="row py-2 text-dark">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-2 pr-0">
                          <i class="fas fa-child fa-3x"></i>
                        </div>
                        <div id="evang-child-symbol" class="col-10 pl-0">
                          <a href="{% url 'evangelizacao' %}">{{ evang.description }}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row py-2 text-dark">
                    <div class="col-12">
                      <i class="fas fa-book-reader "></i> {% trans "Tópico" %}: {{ evang.title }}</div>
                  </div>
                  <div class="row py-2 text-dark">
                    <div class="col-12">
                      <i class="fas fa-school"></i> {% trans "Turma" %}: {{ evang.class_type }}</div>
                  </div>
                  <div class="row py-2 text-dark">
                    <div class="col-12">
                      <i class="fas fa-language"></i> {% trans "Idioma" %}: {{ evang.language }}</div>
                  </div>
                  <div class="row text-dark pb-2">
                    <div class="col-12">
                      <i class="fas fa-clock"></i> {{ evang.class_date }} </div>
                  </div>
                  <div class="row text-dark pb-2">
                    <div class="col-12">
                      {% if evang.doc_file %}
                        <i class="fas fa-download"></i><a href="{{ evang.doc_file.url }}"> {% trans "Download Material da Aula" %}</a>
                        {% else %}
                        <i class="fas fa-download"></i> {% trans "Download temporariamente indisponível" %}</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <!-- If there are no eventos in the DB -->
        <div class="col-md-12">
          <p><h3>{% trans "Nenhuma programacao encontrada no banco de dados" %}.</h3></p>
        </div>
      {% endif %}
    </div>
  </div>
</section>


<!-- Eventos -->
<section id="listings" class="py-4">
  <div class="container">
    <h3 class="text-center bg-primary text-white p-2 mb-5 rounded">{% trans "Eventos Recentes" %}</h3>
      <div class="row">
      <!-- If there are any eventos in the DB -->
      {% if eventos %}
        {% for evento in eventos %}
          <!-- Evento 1 -->
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
              <img class="card-img-top" width="300" height="232" src="{{ evento.photo_main.url }}" alt="">
              <div class="card-body">
                <div class="listing-heading text-center">
                  <a href="{% url 'eventos' %}">
                  <h4 class="text-primary">{{ evento.title }}</h4></a>
                  <p>
                    <i class="fas fa-map-marker text-dark"></i> {{ evento.city }} {{ evento.state }}, {{ evento.zipcode }}</p>
                </div>
                <hr>
                <div class="row py-2 text-dark">
                  <div class="col-12">
                    <i class="fas fa-th-large"></i> {% trans "Tipo" %}: {{ evento.event_type }}</div>
                </div>
                <div class="row py-2 text-dark">
                  <div class="col-12">
                    <i class="fas fa-user"></i> {% trans "Responsável" %}: {{ evento.volunteer }}</div>
                </div>
                <div class="row text-dark pb-2">
                  <div class="col-10">
                    <i class="fas fa-clock"></i> {{ evento.event_date | timesince }} {% trans "atrás" %}</div>
                </div>
                <hr>
                <a href="{% url 'evento' evento.id %}" class="btn btn-primary btn-block">{% trans "Mais Fotos" %}</a>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
      <!-- If there are no eventos in the DB -->
        <div class="col-md-12">
          <p><h3>{% trans "Nenhum evento encontrado no banco de dados" %}.</h3></p>
        </div>
      {% endif %}
  </div>
</section>

<section id="listings" class="py-3">
  <div class="container">
    <h3 class="text-center bg-primary text-white p-2 mb-3 rounded">{% trans "Como Ajudar" %}</h3>
    <div class="row" id="sos-help">
      <div class="col-md-4">
        <a href="http://smile.amazon.com/ch/81-3758631" target="_blank">
          <img src="{% static 'img/amazon_smile_img_1.png' %}" class="img-fluid mt-3 rounded" width="400px" height="300px">
        </a>
      </div>
      <div class="col-md-4 m-auto">
        <a href="https://venmo.com/soskardec" target="_blank">
          <img src="{% static 'img/venmo_img_2.png' %}" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4">
        <a href="https://www.plasticfreeocean.us/" target="_blank">
          <img src="{% static 'img/plastic_free_img_1.png' %}" class="img-fluid mt-3 rounded" data-toggle="tooltip" data-placement="top" title="Our Sponsor"
          width="400px" height="300px">
        </a>
      </div>
    </div>
  </div>
</section>

<section id="show-case" class="py-5 text-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <a href="" data-toggle="modal" data-target="#inquiryModal">
          <i class="fas fa-comment fa-4x mr-4"></i>
        </a>
        <hr>
        <a href="" data-toggle="modal" data-target="#inquiryModal">
          <!-- <h3>Entre em Contato</h3> -->
          <h3>{% trans "Entre em Contato" %}</h3>
        </a>
      </div>
      <div class="col-md-4">
        <a href="https://www.facebook.com/soskardec/" target="_blank" >
        <i class="fab fa-facebook fa-4x mr-4"></i>
      </a>
        <hr>
        <a href="https://www.facebook.com/soskardec/" target="_blank" >
        <!-- <h3>Nosso Perfil no FaceBook</h3> -->
        <h3>{% trans "Nosso Perfil no FaceBook" %}</h3>
      </a>
      </div>
      <div class="col-md-4">
        <a href="https://www.instagram.com/s.o.s.kardec/" target="_blank" >
        <i class="fab fa-instagram fa-4x mr-4"></i>
      </a>
        <hr>
        <a href="https://www.instagram.com/s.o.s.kardec/" target="_blank" >
        <!-- <h3>Siga-nos no Instragam</h3> -->
        <h3>{% trans "Siga-nos no Instragam" %}</h3>
      </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}

  <!-- Message Form -->
  <div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel"> {% trans "Messagem" %} </h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'contact' %}" method="POST">
            {% csrf_token %}
            {% if user.is_authenticated %}
              <input type="hidden" name="user_id" value="{{ user.id }}">
            {% else %}
              <input type="hidden" name="user_id" value="0">
            {% endif %}
            <div class="form-group">
              <label for="name" class="col-form-label"> {% trans "Nome" %}:</label>
              <input type="text" name="name" class="form-control" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %} required>
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label"> {% trans "Email" %}:</label>
              <input type="email" name="email" class="form-control"  {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} required>
            </div>
            <div class="form-group">
              <label for="phone" class="col-form-label"> {% trans "Telefone" %}:</label>
              <input type="text" name="phone" class="form-control">
            </div>
            <div class="form-group">
              <label for="message" class="col-form-label"> {% trans "Mensagem" %}:</label>
              <textarea name="message" class="form-control"></textarea>
            </div>
            <hr>
            <input type="submit" value="{% trans "Enviar" %}" class="btn btn-primary btn-block">
          </form>
        </div>
      </div>
    </div>
  </div>