{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% block title %} | Quem Somos {% endblock %}
{% block content %}
  <section id="showcase-inner" class="py-4 text-primary">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <img src="{% static 'img/sos_logo.png' %}" class="main-logo">
          <h1 class="display-4">{% trans "Quem Somos" %}</h1>
          <p class="lead">{% trans "Uma associação filantrópica, voluntária e sem fins lucrativos" %}.<br>
          SOS Kardec</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> {% trans "Quem Somos" %} </li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="sobre" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2> {% trans "Nossa História" %} </h2>
          <p class="mt-4">{% blocktrans %}Criado em setembro de 2013, o Grupo de Estudos da Doutrina Espirita – Spiritist Organization of Seattle –  é uma associação filantrópica, voluntária e sem fins lucrativos. Voltado para atividades doutrinárias{% endblocktrans %}.</p>
          <p class="mt-4">{% blocktrans %}O grupo SOS KARDEC tem como missão promover o estudo, a difusão e a prática do Espiritismo no seu tríplice aspecto: científico, filosófico e religioso, com base nas obras codificadas por Allan Kardec{% endblocktrans %}.</p>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="{% static 'img/sos_logo.png' %}">
            <div class="card-body">
              <h5 class="card-title text-center">Juanita Community Club</h5>
              <p class="card-text text-center">{% trans "Domingos - 10am" %}</p>
              <p class="card-text">13027, 100th Ave Ne, Kirkland, WA, 98034</p>
            </div>
          </div>
          <p class="mt-4">{% blocktrans %}Caso tenha alguma pergunta ou alguma dúvida, entre em contato conosco{% endblocktrans %}.</p>
          <!-- Message button -->
          <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal"> {% trans "Entre em Contato" %} </button>

          <!-- Large Map -->
        </div>
      </div>
        <div class="col-12 py-5">
          <div class="map-container" id="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2684.294703130918!2d-122.21046354782139!3d47.7175290790902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490127343d190cd%3A0x9b2e597f91bf67a6!2s13027%20100th%20Ave%20NE%2C%20Kirkland%2C%20WA%2098034!5e0!3m2!1sen!2sus!4v1592167300725!5m2!1sen!2sus" width="100%" height="600" frameborder="0" style="border:1;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
        </div>
    </div>
  </section>

  <!-- Message Form -->
  <div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel"> {% trans "Messagem" %} </h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'contact' %}" method="POST">
            {% csrf_token %}
            {% if user.is_authenticated %}
              <input type="hidden" name="user_id" value="{{ user.id }}">
            {% else %}
              <input type="hidden" name="user_id" value="0">
            {% endif %}
            <div class="form-group">
              <label for="name" class="col-form-label"> {% trans "Nome" %}:</label>
              <input type="text" name="name" class="form-control" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %} required>
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label"> {% trans "Email" %}:</label>
              <input type="email" name="email" class="form-control"  {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} required>
            </div>
            <div class="form-group">
              <label for="phone" class="col-form-label"> {% trans "Telefone" %}:</label>
              <input type="text" name="phone" class="form-control">
            </div>
            <div class="form-group">
              <label for="message" class="col-form-label"> {% trans "Mensagem" %}:</label>
              <textarea name="message" class="form-control"></textarea>
            </div>
            <hr>
            <input type="submit" value="Enviar" class="btn btn-primary btn-block">
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}