#header {
    height: 50px;
    background: #10284e;
    color: #fff;
    opacity: 0.9;
}

#branding h1 {
    color: #fff;
}

a:link,
a:visited {
    color: #10284e;
}

div.breadcrumbs {
    background: #10284e;
    color: #fff;
}

div.breadcrumbs a {
    color: #fff;
}

/* .content-main a {
    color: #10284e;
} */

.module h2, .module caption, .inline-group h2 {
    background: #10284e;
    opacity: 0.9;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #10284e;
    color: #fff;
    opacity: 0.9;
}